/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

/* html {
	display: flex;
	justify-content: center;
} */
input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: unset;
	border: 1px solid black;

	background: transparent;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}

.container .navBg {
	position: relative;
	z-index: 5;
	/* border: black;
	background-color: black; */
	width: 100%;
	box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 5%);
}

.navBg .navbar {
	width: 1320px;
	margin: 0 auto;
	padding: 0 1.125em;
	height: 102px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.navbar .menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 4em;
}

.navbar .menu a {
	color: #505050;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.5px;
	text-decoration: none;
}

.navbar .menu a.active {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-decoration: none;
}

.navbar .logo {
	color: black;
	font-size: 2.25em;
	cursor: pointer;
	font-weight: 500;
}

.separator {
	height: 102px;
	width: 100vw;
	background-color: #f3f3f4;
	z-index: -2;
}

.search-box {
	position: relative;
	z-index: 1;
	border: 1px solid #eaeaea;
	height: 72px;
	width: 620px;
	border-radius: 10px;
	top: -36px;
	background-color: white;
	box-shadow: 0px 0.25em 40px 1px rgba(0, 0, 0, 12%);
	font-size: 18px;
	letter-spacing: 1.1px;
	padding: 0 26px;
	margin-bottom: 30px;
}

.search-box:focus {
	outline: unset;
	border: 2px solid #00a0fb;
}

.search-preview {
	position: relative;
	top: -40px;
	width: 620px;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 13%);
	display: none;
	position: fixed;
	border-radius: 10px;
	z-index: 8;
}

.search-preview.show {
	position: absolute;
	transition: 0.5s;
	top: 272px;
	z-index: 8;
	width: 620px;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 10px 40px 2px rgba(49, 145, 255, 0.35);
	background-color: white;
}

.search-preview .cta h4 {
	padding: 26px;
	padding-left: 22px;
	font-size: 18px;
	font-weight: 400;
	text-decoration: underline;
	color: #5fc4ff;
	letter-spacing: 2px;
	cursor: pointer;
	z-index: 8;
}

.search-preview li {
	list-style: none;
}

.search-preview .cta h4:hover {
	color: #00a0fb;
}

.search-preview .movie-card {
	/* background-color: white; */
	display: flex;
	padding: 16px;
	/* flex-direction: column; */
	gap: 16px;
	padding-right: unset;
	border-bottom: 1px solid #eaeaea;
	/* cursor: pointer;S */
}

.search-preview .movie-card .poster {
	width: 92px;
	height: 128px;
	border-radius: 4px;
}

.search-preview .movie-card .detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.search-preview .movie-card .movie-title {
	font-size: 18px;
	font-weight: normal;
}

.search-preview .detail p {
	font-size: 16px;
	font-weight: 300;
}

.search-preview .detail p span {
	font-weight: 400;
}

.title {
	/* margin-top: 40px; */
	font-size: 40px;
	font-weight: 450;
	margin-bottom: 72px;
}

.container .movies-list {
	background-color: white;
	width: 1320px;
	border-radius: 10px;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 280px));
	grid-template-rows: repeat(auto-fit, minmax(auto, 400px));
	grid-row-gap: 56px;
	/* grid-column-gap: 20px; */
	justify-content: space-between;
	align-content: space-between;
	padding: 0 18px;
}

.container .movies-list .movie img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.pagination {
	display: flex;
	gap: 8px;
}

.pagination .btn-pagination {
	padding: 18px;
	font-weight: 400;
	font-size: 18px;
	color: white;
	background-color: #00a0fb;
	border: 1px solid #00a0fb;
	border-radius: 4px;
	cursor: pointer;
}

.pagination .btn-pagination.active {
	color: #00a0fb;
	border: 1px solid #00a0fb;
	background-color: white;
	cursor: unset;
}

.pagination .btn-pagination.active:hover {
	color: #00a0fb;
	border: 1px solid #00a0fb;
	background-color: white;
}

.pagination .btn-pagination:hover {
	opacity: 0.8;
}
